    @import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url("https://use.typekit.net/fvi2zob.css");

    body {
        font-family: Poppins;
        color: #ffffff;
        background-color: #CDCDCD;
        background-image: url(images/grunge-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        backdrop-filter: blur(4px);
    }

    * {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .video-background {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        overflow: hidden;
    }

    .video-background video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
    }

    .overlay-content {
        color: white;
        text-align: center;
        z-index: 3;
        text-shadow: 2px 2px 5px black;
        font-family: "Quicksand", sans-serif;
        font-size: calc(10px + 1.5vw);
        line-height: 2em;
        opacity: 0;
        animation: fadeInUp 1.0s ease-out forwards;
        animation-delay: 0.1s;
    }

    /* Overlay text animation*/
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 20px;
        position: sticky;
        color: white;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.9);
        /*backdrop-filter: blur(10px);*/
        animation: fadeIn 1s ease-in-out forwards;
    }

    .navbar .logo {
        margin-left: 30px;
    }

    .navbar a {
        /*margin-right: 15px;*/
        text-decoration: none;
        color: white;
    }

    .navbar a:last-child {
        margin-right: 30px;
    }

    .nav-links a:hover {
        color: #ffffff;
    }

    .logo img {
        height: 50px;
        cursor: pointer;
    }

    .nav-links {
        display: flex;
        gap: 40px;
        white-space: nowrap;
    }

    .nav-links a {
        text-decoration: none;
        font-size: calc(10px + 1vw);
        color: rgb(255, 255, 255);
        font-weight: 900;
        transition: color 0.3s ease;
        font-family: "Roboto", serif;
        font-weight: 900;
        font-style: bold;
        position: relative;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .nav-links a:hover {
        color: #ff6600;
        transform: scale(1.1);
    }

    .nav-links a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #ff6600;
        transition: width 0.3s ease;
    }

    .nav-links a:hover::after {
        width: 100%;
    }

    .menu-toggle {
        display: none;
        color: #fff;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 100;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .scroll-indicator {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .scroll-indicator a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }

    .arrow {
        width: 40px;
        height: 40px;
        border: solid #ffffff;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
        animation: scroll 1.8s infinite;
        margin-top: 10px;
    }

    .text {
        display: inline-block;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -35px;
        font-size: calc(10px + 0.7vw);
        color: #ffffff;
        white-space: nowrap;
    }

    /*Scroll animation*/
    @keyframes scroll {

        0%,
        20% {
            transform: rotate(60) translateY(0);
            opacity: 1;
        }

        80%,
        100% {
            transform: rotate(60) translateY(290px);
            opacity: 0;
        }
    }

    .section-1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 80%;
        /*min-height: 100vh;*/
        padding: 20px;
        box-sizing: border-box;
        margin: 0 auto;
        align-items: flex-start;
        scroll-margin-top: 60px;
    }

    .left,
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .left h1 {
        font-size: clamp(30px, calc(10px + 4.5vw), 5vw);
        margin: 0 0 20px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
        text-wrap: nowrap;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 100%;
    }

    .info p {
        font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
        line-height: 1.6;
        font-family: Arial, sans-serif;
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;


    }

    .right video {
        max-width: 80%;
        height: auto;
        border-radius: 30px;
    }

    .section-2 {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        margin: 0 auto;
        align-items: flex-start;
    }

    .left-sect-2,
    .right-sect-2 {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .right-sect-2 h1 {
        font-size: clamp(30px, calc(10px + 4.5vw), 5vw);
        margin: 0 0 20px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
    }

    .info-sect-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        max-width: 100%;
    }

    .info-sect-2 p {
        font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
        line-height: 1.6;
        font-family: Arial, sans-serif;
    }

    .info-sect-2 ul {
        font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
        line-height: 1.6;
        font-family: Arial, sans-serif;
    }

    .left-sect-2 img {
        max-width: 100%;
        height: auto;
        border-radius: 30px;
    }

    /* Animación foto */
    .left-sect-2 img:hover {
        transform: scale(1.1);
    }

    /* Separador */
    .separator {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        min-height: 500px;
        position: relative;
        background-image: url('images/timeline-optimized.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: white;
        text-align: center;
    }

    .separator::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.5);
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        z-index: 8;
    }

    .left-separator h1 {
        font-size: calc(10px + 7vw);
        margin: 0 0 20px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
    }

    .info-separator {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        padding: calc(1vw + 8px) calc(2vw + 15px);
        font-size: calc(1vw + 1rem);
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .button:hover {
        background-color: #ff6600;
        color: white;
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }

    @media (prefers-reduced-motion) {
        .button {
            transition: none;
        }
    }




    /* Modal */
    @keyframes popup {
        0% {
            transform: scale(0.5);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes popup-close {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }


    .modal {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }


    .modal.open {
        display: flex;
        z-index: 11;
        animation: fadeIn 0.3s ease forwards;
    }

    .modal-content {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        width: 500px;
        height: 600px;
        text-align: center;
        position: relative;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        animation: popup 0.2s ease-in;
    }

    .modal.closing {
        animation: popup-close 0.2s ease-in-out;
    }


    .modal-content h2 {
        font-size: 24px;
        color: #000;
    }


    input[type="text"],
    input[type="email"],
    #input1,
    #input2,
    #input3 {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        font-size: 16px;
        border: 2px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="email"]:focus {
        border-color: #ff6600;
        outline: none;
    }


    .close-btn {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 50px;
        cursor: pointer;
        color: #ff0000;
    }

    .close-btn:hover {
        color: #ff6600;
    }

    body.no-scroll {
        overflow: hidden;
    }

    button[type="submit"] {
        background-color: #ff6600;
        color: white;
        padding: 12px 30px;
        font-size: 18px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #e55c00;
        transform: scale(1.1);
    }












    /* Testiomonials section*/


    .testimonials-section {
        text-align: center;
        padding: 50px 20px;

    }

    .testimonials-section h1 {
        font-size: clamp(30px, calc(10px + 4.5vw), 5vw);
        margin: 0 0 20px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;

    }

    .testimonials-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .testimonial {
        text-align: center;
        flex: 1;
        max-width: 200px;
        animation: fadeIn 1.5s ease-in-out;
        margin-bottom: 90px;
    }

    .testimonial img {
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out;

    }

    .testimonial img:hover {
        transform: scale(1.1);
    }

    .testimonial h2 {
        font-size: calc(1rem + 0.5rem);
        margin: 10px 0;
        margin-bottom: 30px;
    }

    .subs {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ffd700;
        transform: scale(1.2);
        text-shadow: 0 0 10px rgba(218, 192, 0, 0.7);
    }



    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }


    /* Three column section */
    .section-3 {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        padding: 20px;
        box-sizing: border-box;
        margin: 0 auto;
        align-items: flex-start;
    }

    .section-3 .col-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 80%;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 auto;
        align-items: flex-start;
    }

    .section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .title h1 {
        font-size: clamp(30px, calc(10px + 4.5vw), 5vw);
        margin: 0 0 20px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;
    }


    .section-3 .column {
        flex: 1;
        padding: 10px;
        text-align: center;
    }

    .section-3 .column .icon {
        font-size: 5rem;
        color: #ffffff;
        margin-bottom: 10px;
    }

    .column h1 {
        font-size: clamp(2rem, 2.5vw + 1rem, 4rem);
        margin: 0 0 30px 0;
        font-family: "bebas-neue", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;

    }

    .column p {
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: Arial, sans-serif;
    }



    .icon {
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.3s ease-in-out;
    }

    .icon-visible {
        opacity: 1;
        transform: scale(1);
    }

    .icon:hover {
        animation: shake 0.5s ease-in-out;
    }

    @keyframes shake {
        0% {
            transform: translateX(0) scale(1);
        }

        25% {
            transform: translateX(-4px) scale(1.1);
        }

        50% {
            transform: translateX(4px) scale(1.1);
        }

        75% {
            transform: translateX(-4px) scale(1.1);
        }

        100% {
            transform: translateX(0) scale(1);
        }
    }

    /* Animación scroll de la sección */
    .hidden {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transform: translateX(-30px);
    }

    .show {
        opacity: 1;
        transform: translateY(0px);
    }

    @media(prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }



    /* footer */
    .footer {
        background-color: rgba(39, 39, 39, 0.7);
        padding: 40px 20px;
        color: #ffffff;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-column {
        flex: 1;
        min-width: 250px;
        margin: 10px;
    }

    .logo {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .logo h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
        text-align: center;
    }

    .logo p {
        text-align: center;
        margin-bottom: 15px;
    }

    .newsletter-form {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .newsletter-form input {
        flex: 2;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .newsletter-form button {
        padding: 12px 25px;
        font-size: 1.2rem;
        background-color: #fff;
        color: #333;
        border: 2px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .newsletter-form button:hover {
        background-color: #333;
        color: white;
        transform: scale(1.1);
        border-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }

    .social-media,
    .contact-info {
        text-align: center;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
    }

    .social-icons a {
        font-size: 2.5rem;
        color: #dedede;
        transition: color 0.3s, transform 0.3s;
    }

    .social-icons a:hover {
        color: #ff6600;
        transform: scale(1.2);
    }

    address {
        font-style: normal;
        margin-bottom: 10px;
    }

    /*pruebas*/

    .tooltip {
        position: relative;
        display: inline-block;
    }

    .tooltip .tooltip-text {
        font-size: 10px;
        font-family: Arial, sans-serif;
        visibility: hidden;
        width: 100px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 5px;
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip:hover .tooltip-text {
        visibility: visible;
    }

    /* Media query navbar */
    @media (max-width: 768px) {
        .navbar {
            justify-content: space-between;
        }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            right: 0;
            background-color: rgba(1, 1, 1, 0.9);
            width: 100%;
            text-align: center;
            padding: 10px 0;
            z-index: 15;
        }

        .nav-links a {
            font-size: 25px;
            padding: 10px 0;
        }

        .nav-links.active {
            display: flex;
        }

        .menu-toggle {
            display: block;
            cursor: pointer;
            font-size: 2rem;
            color: white;
            background: none;
            border: none;
            z-index: 20;
        }
    }

    /* Media section-1*/
    @media (max-width: 768px) {

        /* Sección 1 */
        .section-1 {
            flex-direction: column;

            gap: 10px;
            width: 100%;
            padding: 20px;
        }

        .section-1 .left,
        .section-1 .right {
            flex: none;
            align-items: center;
        }

        .section-1 .left h1 {
            font-size: calc(20px + 4vw);
            margin: 0 0 20px 0;
        }

        .section-1 .info p {
            font-size: calc(1rem + 0.3rem);
            line-height: 1.6;
            text-align: center;
        }

        .section-1 .right video {
            max-width: 70%;
            height: auto;
            margin-top: 20px;
            border-radius: 15px;
        }
    }

    /* Section 2*/
    @media (max-width: 768px) {
        .section-2 {
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            padding: 20px;
            box-sizing: border-box;
            margin-top: 20px;
        }

        .left-sect-2,
        .right-sect-2 {
            flex: none;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .right-sect-2 {
            order: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .left-sect-2 {
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .right-sect-2 h1 {
            font-size: calc(20px + 4vw);
            font-family: "bebas-neue", sans-serif;
            font-weight: 800;
            margin: 20px 0;
            text-transform: uppercase;
            text-align: center;
        }

        .info-sect-2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 15px;
        }

        .info-sect-2 p,
        .info-sect-2 ul {
            font-size: calc(1rem + 0.4rem);
            line-height: 1.6;
            margin: 10px 0;
        }

        .left-sect-2 img {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
        }
    }

    /* Media query section-3 columnas */
    @media (max-width: 1024px) {
        .section-3 {
            padding: 15px;
        }

        .section-3 .col-container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }

        .section-3 .column {
            flex: 1 1 calc(50% - 10px);
            max-width: calc(50% - 10px);
            text-align: center;
        }

        .title h1 {
            font-size: clamp(25px, calc(10px + 4vw), 4vw);
        }
    }

    @media (max-width: 768px) {
        .section-3 {
            width: 100%;
            padding: 10px;
        }

        .section-3 .col-container {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }

        .section-3 .column {
            flex: 1 1 100%;
            max-width: 100%;
        }

        .section-3 .icon {
            font-size: 4rem;
        }

        .column h2 {
            font-size: 2.5vw;
            margin: 0 0 30px 0;
            font-family: "bebas-neue", sans-serif;
            font-weight: 800;
            font-style: normal;
            text-transform: uppercase;
            text-align: center;
            text-wrap: nowrap;
        }

        .column p {
            font-size: clamp(1rem, 1.5vw + 1rem, 1.5rem);
        }
    }

    @media (max-width: 480px) {
        .title h1 {
            font-size: clamp(20px, 5vw, 3rem);
        }

        .section-3 .icon {
            font-size: 3rem;
        }

        .column p {
            font-size: 1rem;
        }
    }

    @media (max-width: 768px) {
        .separator {
            background-image: url('images/timeline-mobile.jpg');
            background-size: cover;
            background-position: center center;
            background-attachment: scroll;
            height: auto;
        }

        .separator::before {
            display: none;
        }

        .content-wrapper {
            padding: 10px;
        }

        .left-separator h1 {
            font-size: calc(10px + 5vw);
        }

        .button {
            padding: calc(2vw + 6px) calc(4vw + 20px);
            font-size: calc(2vw + 1rem);
        }
    }


